@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes happy-bounce {

  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: scale(1.05) rotate(-2deg);
  }

  50% {
    transform: scale(1.02) rotate(2deg);
  }

  75% {
    transform: scale(1.05) rotate(-1deg);
  }
}

.animate-happy {
  animation: happy-bounce 0.8s cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
}